settings:
  docker:
    parent_image: "pytorch/pytorch:2.8.0-cuda12.8-cudnn9-runtime"
    requirements:
    - zenml==0.90.0
    - torch
    - datasets
    - transformers
    - huggingface-hub
    - trl
    environment:
      UV_SYSTEM_PYTHON: true
      PIP_NO_CACHE_DIR: 1
      PIP_DISABLE_PIP_VERSION_CHECK: 1
      PYTHONFAULTHANDLER: 1
      PYTHONUNBUFFERED: 0
      ZENML_STORE_URL: http://zenml:8080
      ZENML_CONTAINER: 1
      ZENML_CONFIG_PATH: /app/.zenconfig
    run_args:
      device_requests:
      - driver: nvidia
        count: -1  # All available devices
      network: llmops-network
  
environment:
  ZENML_STORE_URL: http://zenml:8080

parameters:
  finetuning_type: sft
  model_name: unsloth/DeepSeek-R1-0528-Qwen3-8B
  num_train_epochs: 3
  per_device_train_batch_size: 2
  learning_rate: 3e-4
  dataset_huggingface_workspace: TheBeege
  is_dummy: false # Change this to 'false' to run the training with the full dataset and epochs.
